h1, h2 {
    margin-top: 40px;
}

h1 {
    font-size: 30px;
    border-left: solid 16px #336699;
    padding: 4px 4px 4px 8px;
    background-color: #e2f2ff;
}

h2.collapse-bar[aria-expanded="true"] i.fa-plus-square-o {
    display: none;
}

h2.collapse-bar.collapsed i.fa-minus-square-o {
    display: none;
}

pre {
    width: 80%;
    margin: 0 0 8px 8px;
}

table.table {
    margin-bottom: 40px;
}
